html[dir="ltr"] .myAppKitchenCleanPlan .myNewEntryButton.sapMBtn {
  margin-right: 0.125rem;
}

html[dir="rtl"] .myAppKitchenCleanPlan .myNewEntryButton.sapMBtn {
  margin-left: 0.125rem;
}

.myAppKitchenCleanPlan .myFilterText {
  display: inline-block;
  font-weight: bold;
}
